* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  height: 100vh;
  background-color: rgb(208, 208, 208);
  border: 1px solid #000;
}

#card {
    width: 35%;
    margin: 25vh auto;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    padding: 10px;
}

#container-content {
    border: 1px solid  rgb(208, 208, 208);
    border-radius: 10px;
    background-color: rgb(248, 248, 248);
}

#header {
    border-bottom: 1px solid  rgb(208, 208, 208);
    background-color: blue;
    border-radius: 10px 10px 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

#header h1 {
    text-align: center;
    font-size: 23px;
    color: black;
    padding: 10px 0;
    color: white;
}

#personal-info {
    width: 100%;
    margin: 20px 0;
}

#avatar {
    display: inline-block;
    width: 100px;
    /* height: 130px; */
    background-color: white;
    border: 2px solid rgb(14, 130, 6);
    background-color: rgb(208, 208, 208);
    margin-left: 20px;
}

#avatar p {
    text-align: center;
    padding: 55px 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#details {
    display: inline-block;
    text-align: left;
    color: rgb(0, 0, 0);
    margin-left: 30px;
}

#details p {
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.blue-p {
    color: blue;
}

#document-info {
    color: rgb(0, 0, 0);
    font-size: 16px;
    background-color: rgb(208, 208, 208);
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
}

#document-info p {
    text-align: right;
    margin: 0 20px 0 0;
    font-family: Arial, Helvetica, sans-serif;
}